.top-logo {
    display: inline-block;
    padding-right: 40px;
}

.restart {
    display: inline-block;
    float: right;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}


.search-bar {
    border: 3px solid #58595B;
}

.search-label {
    color: #323132;
}

.search-result-item {
    font-size: 21px;
    padding: 10px 0 10px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #58595B;
    text-align: center;
}

.footer-license__img {
    margin-top: 10px;
}

.condition-warn {
    font-size: 18px;
    padding: 1px;
    margin: 1px;
    color: darkred;
}

.input_adjust {
    height: 48px;
}

.selection_adjust {
    width: 446px;
    margin-left: 50px;
}

#results-preview {
    bottom: 7vh;
    float: left;
    position: absolute;
    background-color: #222222dd;
    color: #eeeeee;
    pointer-events: all;
}

#results-list {
    word-wrap: break-word;
    overflow-y: scroll;
    height: 78vh;
    width: 100vw;
    background-color: #222222dd;
    color: #eeeeee;
    position: fixed;
    z-index: 2;
    display: none;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 132px;
}

.always-show-banner {
    height: 66px;
}

.pagination {
    margin-bottom: 210px;
}

.pagination-list-item {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.pagination-drop-down {
    margin-left: 16px;
    height: 42px;
}

.notifications {
    list-style: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.notifications__item.visible {
    transform: none;
    transition: all 250ms ease-out;
}

.notifications__item--warning {
    background-color: #AA354C;
}

.notifications__item {
    margin-bottom: 0;
    margin-left: 0;
    padding: 24px 160px;
    background-color: #AA354C;
    color: #E7E8E9;
    font-size: 18px;
    margin-top: 3px;
    -webkit-transform: translateY(103%);
    transform: translateY(103%);
    transition: all 100ms ease-out;
}

.notifications__button:hover {
    text-decoration: underline;
}

.notifications__button:first-of-type {
    margin-left: 40px;
}

.notifications__button {
    background-color: transparent;
    color: #E7E8E9;
    padding: 0;
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    outline: none;
}

.govuk-phase-banner__content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.govuk-phase-banner__content__tag {
    margin-right: 10px;
}

.govuk-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 21px;
    line-height: 1;
    padding: 5px 8px 4px 8px;
}

.govuk-phase-banner__text {
    display: inline;
    vertical-align: baseline;
    color: white;
    font-size: 18px;
}

.govuk-link {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.govuk-link:visited {
    color: #4c2c92;
}

.govuk-link:link {
    color: #1d70b8;
}

@media (max-width: 767px) {
    .govuk-phase-banner__text {
        font-size: 16px;
    }

    .govuk-tag {
        font-size: 18px;
    }
}

.mapboxgl-popup-content {
    padding: 3px 6px !important;
}

.widgit-selector {
    width: 100%;
    opacity: 1;
    border-radius: 0;
    background-image: none;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding: 5px 4px 4px;
    border: 2px solid #0b0c0c;
    margin-bottom: 5px;
    outline-color: #f93;
}
.olg-align {
    vertical-align: baseline;
}


#map {
    height: 78vh;
    width: 100vw;
}

#nav {
    position: absolute;
    pointer-events: none;
    z-index: 100;
}

#search {
    background-color: #222222dd;
    color: #eeeeee;
    pointer-events: all;
}

#loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #22222277;
    z-index: 90;
}

#toggle-results {
    width: 100%;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
